@{
    ViewData["Title"] = "SelectPaquete";
}
<link rel="stylesheet" href="~/css/site.css">
<a href='@Url.Action("Index", "Home")'><img src="~/img/volverindex.png" alt="Volver al Index"></a>
<h1>Seleccionar su paquete: </h1>

@if (ViewBag.MensajeDeError != null)
{
    @ViewBag.MensajeDeError
    foreach(var palabra in ViewBag.diccionarioFaltantes){
        <p>@palabra</p>
    }
}
@if (ViewBag.Existe == true)
{
    @ViewBag.MensajeYaExiste
}

<form action='@Url.Action("GuardarPaquete")'>      
    @{
        int contador = 1;
    }
    @foreach(var palabra in ViewBag.ListaDestinos)
    {
        <p>@contador . @palabra</p>
        contador++;
    }
    <input type="number" name="Destino" placeholder="Ingrese su Destino"> <br></br>
    @foreach(var pal in ViewBag.ListaHoteles)
    {
        <div class="contenedor">
            <img class ="imagenes" src="~/img/hoteles/@pal" alt="imagen" width="500">
        </div>
    }
    <input type="number" name="Hotel" placeholder="Ingrese su Hotel"> <br></br>  
    @foreach(var pal in ViewBag.ListaExcursiones)   
    {
        <div class="contenedor">
            <img class="imagenes" src="~/img/excursiones/@pal" alt="Excursion" width="500">
        </div>
    }
    <input type="number" name="Excursión" placeholder="Ingrese su Excursión"> <br></br>

    @foreach(var pal in ViewBag.ListaAereos)
    {
        <div class="contenedor">
            <img class="imagenes" src="~/img/aéreos/@pal" alt="Aéreo" width="500">
        </div>        
    }
    <input type="number" name="Aereo" placeholder="Ingrese su Aereolínea"> 
    <input type="submit" value="Crear Paquete">    
</form>