@{
    ViewData["Title"] = "SelectPaquete";
}

<a href='@Url.Action("Index", "Home")'><img src="img/selectpaquete.png" alt="Volver al Index"></a>
<h1>Seleccionar su paquete: </h1>

@if (ViewBag.MensajeDeError != null)
    {
        @ViewBag.MensajeDeError
        foreach(var palabra in ViewBag.diccionarioFaltantes){
            <p>@palabra</p>
        }
    }
<form action='@Url.Action("GuardarPaquete")'>      
    @{
        int contador = 1;
    }
    @foreach(var palabra in ViewBag.ListaDestinos)
    {
        <p>@contador . @palabra</p>
        contador++;
    }
    <input type="number" name="Destino" placeholder="Ingrese su Destino">

    @foreach(var pal in ViewBag.ListaHoteles)
    {
        <p>@pal</p>
        <img src="@Url.Content(pal)" alt="hotel"/>
        <img src="~/imagen/@pal" alt="imagen" />
    }
    <input type="number" name="Hotel" placeholder="Ingrese su Hotel">  

    @foreach(var pal in ViewBag.ListaExcursiones) // poner todo en funcion. EL NAME DEBE SER EL MISMO QUE LA VARIABLE DEL CONTROLLER. 
    {
        <img src="@Url.Content(pal)" alt="Excursion"/>
    }
    <input type="number" name="Excursión" placeholder="Ingrese su Excursión"> 

    @foreach(var pal in ViewBag.ListaAereos)
    {
        <img src="@Url.Content(pal)" alt="Aereo"/>
    }
    <input type="number" name="Aereo" placeholder="Ingrese su Aereolínea"> 
    <input type="submit" value="Crear Paquete"> 

    
</form>